In [9]:
#Import modules 
import pandas as pd
import datetime as dt

In [2]:
#Path to CSV files
zillow_path = "data/zillow_data.csv"
unem_path = "data/unem_rate.csv"

#Read the CSV files to create df
zillow_data = pd.read_csv(zillow_path)
unem_data = pd.read_csv(unem_path)

In [12]:
zillow_data.drop(columns = "RegionType")

,RegionID,SizeRank,RegionName,StateName,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,102001,0,United States,NaN,271383.0,274736.0,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0
1,394913,1,"New York, NY",NY,514741.0,519462.0,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",CA,741668.0,749163.0,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0
3,394463,3,"Chicago, IL",IL,256350.0,258656.0,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0
4,394514,4,"Dallas-Fort Worth, TX",TX,277837.0,281220.0,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,394767,929,"Lamesa, TX",TX,80678.0,81809.0,83144,83440,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0
904,753874,930,"Craig, CO",CO,NaN,214570.0,219672,223477,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0
905,394968,931,"Pecos, TX",TX,139164.0,141596.0,143849,145742,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0
906,395188,932,"Vernon, TX",TX,NaN,72330.0,73405,73778,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN
907,394743,933,"Ketchikan, AK",AK,320746.0,322292.0,324385,326506,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN